body, html {
    height: 100%;
    width: 100%;
}

body {
background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  font-family: "Instrument Serif", serif;
}

a {
    color: #82a385;
}

.weather-app {
    background: white;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 14px;
}

header {
border-bottom: 1px solid #f9f7fe;
padding: 0 0 30px 0;
}


.search-form-input {
    background-color: #e4f0e3;
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
}

.search-form-button {
     background: #82a385;
     padding: 15px 30px;
     border: none;
     margin-left: 5px;
     border-radius: 6px;
     color: white;
}

.weather-app-data {
    
}


footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.3);
}